* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.maindiv {
    width: 80%;
}

body {
    min-height: 100vh;
    background: linear-gradient(#FFB6C1, #FFF5F8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 100;
    margin-top: 34px;
}

.card-wrapper {
    width: 100%;
    max-width: 800px;
    z-index: 100;
}

.card {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 24px;
    padding: 35px 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(214, 51, 108, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.6);
    z-index: 100;
}

.girl-name {
    color: #8A1C37;
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitle {
    color: #A64B61;
    font-size: 28px;
    margin-bottom: 35px;
}

.section-title {
    color: #8A1C37;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
}

.countdown {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
}

.time-box {
    background: #FCE4E9;
    border-radius: 14px;
    width: 70px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 0px #EBB1BD;
}

.time-box span {
    font-size: 32px;
    font-weight: bold;
    color: #8A1C37;
    line-height: 1.1;
}

.time-box p {
    font-size: 18px;
    color: #A64B61;
    margin-top: 2px;
}

.bubbles {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    pointer-events: none;
    z-index: 1;
}

.bubbles span {
    position: relative;
    font-size: 28px;
    text-shadow: 0 0 15px rgba(255, 64, 129, 0.6); 
    animation: animate calc(125s / var(--i)) linear infinite;
}

.bubbles span:nth-child(even) {
    font-size: 18px; 
}
.card a {
    text-decoration: none;
}

@keyframes animate {
    0% {
        transform: translateY(0) scale(0);
        opacity: 0;
    }
    10% {
        opacity: 0.9;
    }
    90% {
        opacity: 0.9; 
    }
    100% {
        transform: translateY(-115vh) scale(1.5);
        opacity: 0;
    }
}

.explorebtn {
    width: 140px;
    height: 55px;
    border-radius: 14px;
    border: none;
    background-color: #D6336C;
    color: #FFF5F8;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 8px rgba(179, 121, 121, 0.4));
    transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.explorebtn:hover {
    background-color: #8A1C37;
    transform: scale(1.06);
}

#startbtn {
   display: grid;
   place-items: center;
}

#gallery {
     background: rgba(255, 255, 255, 0.85);
    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 24px;
    padding: 35px 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(214, 51, 108, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25); 
    z-index: 100;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25), 
    0 5px 15px rgba(0, 0, 0, 0.15);

    margin-bottom: 38px;
    
}

#galleryheading {
    font-size: 40px;
    margin-bottom: 80px;
    color: #8A1C37; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: -0.8px;
    font-style: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

#gallery-wrapper {
    margin-top: 10px;
    margin-bottom: 24px;
    z-index: 100;
}

#pic1 {
    display: flex;
    padding-left: 24px;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.3));
}

#pic2 {
    position: relative;
    left: 30%;
    padding-right: 24px;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.3));
}

#pic3 {
    display: flex;
    padding-left: 24px;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.3));
}

.galleryp {
    font-size: 28px;
    color: #D6336C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#text1 {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    left: 80px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

#text2 {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    left: 80px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
